// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

/* Dans votre fichier CSS (par exemple, application.scss) */
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Utilisez le poids gras pour les titres */
}

.btn, .btn-custom {
  font-family: 'Roboto', sans-serif;
  /* Gardez les autres styles tels que font-weight, text-transform, etc., pour conserver la conception */
}

.form-label {
  font-weight: 600;
}

.search-input {
  flex-grow: 1;
  border: 1px solid #ddd;
  border-radius: 32px;
  padding: 8px 20px;
}

.btn-search {
  border-radius: 32px;
  padding: 8px 20px;
  margin-left: -1px; /* Ajustez selon le style pour que le bouton se colle à l'input */
}

/* Vous pouvez également redéfinir les styles pour le toggle button et les liens de la navbar si nécessaire */

/* Custom styles for form elements */
.custom-input {
  border-radius: 20px;
  border: 1px solid #ced4da;
}

.custom-button {
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  color: #AD88C6;
}

.custom-button:hover {
  background-color: #f8f9fa;
}

/* Styles for the form container */
.filter-form {
  background-color: #ffffff; /* White background */
  border-radius: 20px; /* Rounded borders for the outer form */
  box-shadow: 0 4px 6px rgba(0,0,0,.1); /* Slight shadow around the form */
  padding: 20px; /* Spacing inside the form */
}

/* Styles pour les cartes */
.card-custom {
  border-radius: 15px; /* Bordures arrondies pour les cartes */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre légère pour donner du relief */
  transition: transform 0.2s; /* Animation pour le survol */
  margin-bottom: 1.5rem; /* Espacement au-dessous de chaque carte */
}

.card-custom:hover {
  transform: scale(1.05); /* Effet de zoom au survol */
}

/* Placeholder pour l'image s'il n'y a pas de photo */
.placeholder-image {
  height: 300px;
  background-color: #eaeaea; /* Couleur de fond pour le placeholder */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

/* Styles pour le texte des prix */
.price-text {
  color: #333; /* Couleur du texte pour les prix */
}

/* Styles pour les boutons */
.btn-custom {
  border-radius: 30px; /* Bordures arrondies pour les boutons */
  background-color: #AD88C6; /* Couleur de fond pour les boutons */
  color: white; /* Couleur du texte pour les boutons */
  padding: 8px 16px; /* Padding pour les boutons */
  font-weight: bold; /* Police en gras pour les boutons */
  border: none; /* Pas de bordure pour les boutons */
}

.btn-custom:hover {
  background-color: #6c757d; /* Couleur de fond au survol */
  color: #fff; /* Couleur du texte au survol */
}

/* Styles pour les boutons de commutation */
.btn-toggle {
  border: 1px solid #ced4da;
  border-radius: 20px; /* Bordures arrondies pour les boutons */
  padding: 10px 20px; /* Padding plus grand pour les boutons */
  margin: 5px; /* Espacement autour des boutons */
  width: 150px; /* Largeur plus longue pour les boutons */
  background-color: #ffffff; /* Couleur de fond pour les boutons */
  color: #AD88C6; /* Couleur du texte pour les boutons */
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre légère pour donner du relief */
}

.btn-toggle.active, .btn-toggle:hover {
  color: #fff;
  background-color: #AD88C6; /* Couleur de fond pour le bouton actif ou au survol */
  border-color: #AD88C6;
}

/* Conteneur pour les boutons centré */
.container.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

/* Ajoutez de l'espace sous les boutons */
.toggle-buttons {
  margin-bottom: 1rem; /* Ajustez cette valeur selon l'espace souhaité */
}

/* Ajustez l'espacement entre les cartes */
.row-cols-1 > * {
  padding: 0.75rem;
}

.row-cols-md-2 > * {
  padding: 0.75rem;
}

.row-cols-lg-4 > * {
  padding: 0.75rem;
}

/* Si vous voulez également augmenter l'espace entre les rangées de cartes */
.row {
  margin-bottom: 1.5rem; /* Ajustez cette valeur selon l'espace souhaité entre les rangées */
}


/* Espacement au-dessus des boutons, un peu moins que précédemment */
.btn-group {
  margin-top: 0.5rem; /* Réduire pour rapprocher de l'élément supérieur */
  margin-bottom: 2rem; /* Augmenter pour éloigner des cartes en dessous */
}

/* Ajustez l'espacement entre les rangées de cartes */
.row {
  margin-bottom: 2rem; /* Augmenter pour plus d'espace entre les rangées de cartes */
}

.card-img-top {
  width: 100%; /* pour que l'image occupe toute la largeur de la carte */
  height: 160px; /* ou toute autre hauteur fixe appropriée */
  object-fit: cover; /* pour s'assurer que l'image couvre bien l'espace défini */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* cela permettra de pousser le footer au bas de la carte */
}

/* Style par défaut pour le conteneur de la carte, non visible */
.mapbox {
  width: 100%; /* Assurez-vous qu'elle prend toute la largeur */
  height: 75vh; /* Ajustez la hauteur comme vous le souhaitez */
  position: relative; /* La position relative est généralement nécessaire pour les conteneurs de carte */
  z-index: 1; /* Assurez-vous qu'il est au-dessus d'autres éléments si nécessaire */
}

/* Lorsque la carte doit être visible, la classe 'active' pourrait être ajoutée par StimulusJS */
.mapbox.active {
  display: block; /* Rend la carte visible */
}

// app/assets/stylesheets/custom.scss
// 
