hi from new


<div data-controller="toggle" class="mt-5">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new car</button>
  <%= render "form", car: @car %>
</div>
<%= render "form", car: @car %>
<%= render "form", car: @car %>
